@font-face {
  font-family: 'Authentic Sans';
  src: url('/assets/AUTHENTICSans-90.otf');
}



:root {
  --ratio: 1.618;
  --s0: 1em;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-5: calc(var(--s-4) / var(--ratio));

  --spacing: var(--s1);
  --stackSpacing: var(--s0);
  
  --light: #fff9f2;
  --dark: #2c1500;
  --gray: #8b7866;
  --contrast: rgb(254, 225, 151);
  --animLength: 2s;
  --animDelay: 1s;
}


html, body {
  width: 100%; height: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}



/* SPACING */ 

.marginTop {
  margin-top:  var(--s4);
}
.padded {
  padding: var(--spacing);
}
.padded\:s1 {
  padding: var(--s1);
}
.paddedLeft {
  padding-left: var(--s1);
}


/* COLORS / TYPOGRAPHY */ 
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
  padding: 1em;
  font-size: 1.0em;
  font-weight: 400;
  color: var(--dark);
}

em {
  text-decoration: none;
  font-style: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: ne-resize;
}
*::selection {
  background-color: pink;
}

.lightFill {
  background: var(--light);
}
.contrastFill {
  background: var(--contrast);
}
.contrastFill::selection {
  background-color: var(--gray);
}

.grayColor {
  color: var(--gray);
}

.border {
  border: 1px solid var(--black);
}

/* SIZING*/ 

.fullBleed {
  width: 100%;
  height: 100%;
}
.fullHeight {
  height: 100%;
}
.fullWidth {
  width: 100%;
}

.narrow {
  width: 48ch;
  max-width: 100%;
}

.narrow img {
  max-width: 100%;
}


/*STRUCTURE */ 

.relative {
  position: relative;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.stack, .stack\:s1, .stack\:s2{
  display: flex; 
  flex-direction: column;
  max-width: 100%;
}

.stack > * + * {
  margin-top: var(--s0);
}



.stack\:s1 > * + * {
  margin-top: var(--s1);
}

.stack\:s2 > * + * {
  margin-top: var(--s2);
}


.stack .align-end {
  margin-top: auto;
}

.horizontal-stack {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  
}

.horizontal-stack > * + * {
  margin-left: var(--stackSpacing);
}
.horizontal-stack.no-gap > * + * {
  margin-left: 0;
}

.horizontal-stack .align-end {
  margin-left: auto;
}

.flex-1 {
  flex: 1
}


.noOverflow {
  overflow: hidden;
}
.noOverflowX {
  overflow: hidden;
}
.hide {
  display: none;
}

/* INTERACTIVITY */

.noEvents {
  pointer-events: none;
}
.hasEvents {
  pointer-events: all;
}


input {
  all: unset;
}
input::placeholder {
  color: inherit;
}


/* SITE SPECIFIC ELEMENTS */


#canvas-container {
  --bleedEdge: calc(var(--spacing));
  width: calc(100% + 2 * var(--bleedEdge));
  position: relative;
  left: calc(-1 * var(--bleedEdge));
}
#canvas-container {
  min-height: 152px;
}

canvas {
  image-rendering: pixelated;
}

#bg-container {
  position: absolute;
  top: 0;
  left: 0;
  animation: fadeIn var(--animLength) var(--animDelay) forwards;
  cursor: crosshair;
}

.narrow {
  z-index: 1;
}

@media only screen and (max-width: 500px) {
	/* Mobile related CSS goes here (400px and under) */
  :root {
    --s0: 1.03em;
    --spacing: var(--s0);
    --stackSpacing: var(--s-1);
  }
  .center {
    display: block;
  }
 
}

@media only screen and (max-width: 986px) {
  .horizontal-stack.mobile-vertical {
    flex-wrap: wrap;
    justify-content: center;
  }
  .horizontal-stack.mobile-vertical > * + *{
    margin-left: 0;
    margin-top: var(--spacing);
  }
  
}
