@font-face {
  font-family: 'Authentic Sans';
  src: url('/assets/AUTHENTICSans-90.otf');
}

@font-face {
  font-family: 'Terminal Grotesque';
  src: url('/assets/terminal-grotesque.ttf');
}


:root {

  --s0: 1.08em;
  --ratio: 1.6;
  --dark: hsl(137, 42%, 75%);
  --black: hsl(137, 80%, 25%);
  --light: #fffef5;
  --white: white;
  --default: #eee;

  
  --animLength: 8s;
  --animDelay: 1.8s;
  
  /* -- contrast: #F5DBF7, C6D4B4*/
  --contrast: #D9CEB8;
}

a:hover {
  background: var(--contrast);
}
body {
  background: var(--white);
  font-family: 'Authentic Sans', Helvetica, sans-serif;
  font-size: var(--s0);
  line-height: 1.314;
  
}

#bg-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  animation: fadeIn var(--animLength) var(--animDelay) forwards;
}
.terminal {
  font-family: 'Terminal Grotesque', monospace;
  font-size: 118%;
  letter-spacing: 0ch;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.darkFill {
  background: var(--default);
  animation: fadeInDark var(--animLength) var(--animDelay) forwards;
}

.lightFill {
  color: var(--default);
  animation: fadeInLight var(--animLength) var(--animDelay) forwards, fadeInBorder var(--animLength) var(--animDelay) forwards;
}
.border {
  border: 1px solid var(--default);
}
.contrastFill {
  color: black;
  /* animation: fadeInContrast var(--animLength) var(--animDelay) forwards; */
}


.button:hover {
  background: var(--white);
  border: 1px solid black;
}

.fade {
  opacity: 0;
  animation: fadeIn 0.5s forwards;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInLight {
  0% {
    background: var(--default);
    color: var(--default);
  }
  100% {
    background: var(--light);
    color: black;
  }
}

@keyframes fadeInContrast {
  0% {
    background: var(--default);
    color: var(--default);
  }
  100% {
    background: var(--contrast);
  }
}


@keyframes fadeInDark {
  0% {
    background: var(--default);
  }
  100% {
    background: var(--dark);
  }
}

@keyframes fadeInBorder {
  0% {
    border: 1px solid var(--default);
  }
  100% {
    border: 1px solid var(--black);
  }
}

#canvas-container {
  --bleedEdge: calc(var(--spacing) * 0.75);
  width: calc(100% + 2 * var(--bleedEdge));
  position: relative;
  left: calc(-1 * var(--bleedEdge));
}

canvas {
  image-rendering: pixelated;
}


@media only screen and (max-width: 400px) {
	/* Mobile related CSS goes here (400px and under) */
  :root {
    --s0: 1em;
  }
}