
a:hover {
  background: var(--contrast);
}
body {
  background: var(--white);
  font-family: 'Authentic Sans', Helvetica, sans-serif;
  font-size: var(--s0);
  line-height: 1.314;
  
}

#bg-container {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  animation: fadeIn var(--animLength) var(--animDelay) forwards;
  cursor: crosshair;
}
.terminal {
  font-family: 'Terminal Grotesque', monospace;
  font-size: 118%;
  letter-spacing: 0ch;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.darkFill {
  background: var(--default);
  animation: fadeInDark var(--animLength) var(--animDelay) forwards;
}

.lightFill {
  color: var(--default);
  animation: fadeInLight var(--animLength) var(--animDelay) forwards, fadeInBorder var(--animLength) var(--animDelay) forwards;
}
.button.lightFill:hover  {
  background: var(--contrast) !important; 
  color: black !important;
  border: 1px solid black !important;
}
.border {
  border: 1px solid var(--default);
}
.contrastFill {
  color: black;
  /* animation: fadeInContrast var(--animLength) var(--animDelay) forwards; */
}


.fade {
  opacity: 0;
  animation: fadeIn var(--animLength) var(--animDelay) forwards;
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInLight {
  0% {
    background: var(--default);
    color: var(--default);
  }
  100% {
    background: var(--light);
    color: black;
  }
}

@keyframes fadeInContrast {
  0% {
    background: var(--default);
    color: var(--default);
  }
  100% {
    background: var(--contrast);
  }
}


@keyframes fadeInDark {
  0% {
    background: var(--default);
  }
  100% {
    background: var(--dark);
  }
}

@keyframes fadeInBorder {
  0% {
    border: 1px solid var(--default);
  }
  100% {
    border: 1px solid var(--black);
  }
}

#canvas-container {
  --bleedEdge: calc(var(--spacing));
  width: calc(100% + 2 * var(--bleedEdge));
  position: relative;
  left: calc(-1 * var(--bleedEdge));
}

canvas {
  image-rendering: pixelated;
}


@media only screen and (max-width: 500px) {
	/* Mobile related CSS goes here (400px and under) */
  :root {
    --s0: 1.03em;
    --spacing: var(--s0);
    --stackSpacing: var(--s-1);
  }
  .center {
    display: block;
  }
}