
a:hover {
  background: var(--contrast);
}
body {
  font-family: 'Authentic Sans', Helvetica, sans-serif;
  font-size: var(--s0);
  line-height: 1.314;
}


#bg-container {
  position: absolute;
  top: 0;
  left: 0;

  opacity: 0;
  animation: fadeIn var(--animLength) var(--animDelay) forwards;
  cursor: crosshair;
}
.terminal {
  font-family: 'Terminal Grotesque', monospace;
  font-size: 118%;
  letter-spacing: 0ch;
}

em {
  text-decoration: none;
  font-style: inherit;
  
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.darkFill {
  background: var(--default);
  animation: fadeInDark var(--animLength) var(--animDelay) forwards;
}

.lightFill {
  color: var(--default);
  animation: fadeInLight var(--animLength) var(--animDelay) forwards, fadeInBorder var(--animLength) var(--animDelay) forwards;
}

.caption {
  opacity: 0;
  animation: fadeIn var(--animLength) var(--animDelay) forwards;
}



.bullet {
  position: absolute;
  left:0;
  top: 0;
  z-index: 3;;
}
.button {
  cursor: pointer;
}
.button:hover  {
  background: var(--white) !important; 
}
.border {
  border: 1px solid var(--default);
}
.contrastFill {
  color: black;
  /* animation: fadeInContrast var(--animLength) var(--animDelay) forwards; */
}


.fade {
  opacity: 0;
  animation: fadeIn var(--animLength) var(--animDelay) forwards;
}

.ml-block-form {
  display: flex;
}

.ml-form-formContent {
  flex: 1
}

.ml-block-form input {
  width: calc(100% - 2* var(--spacing));
  background: white;
}

.ml-block-form input, .ml-block-form button {
  padding: var(--spacing);
}


.ml-form-successContent {
  padding: var(--spacing);
}

.ml-block-form button {
  display: block;
  all: unset;
  cursor: pointer;
  color: var(--contrast);
  padding: var(--spacing);
}

.ml-form-embedSubmit {
  border-left: 1px solid black;
}


.ml-block-form:hover button {
  color: black;
  background: var(--light);
}

.ml-block-form button:hover , .ml-block-form button:focus {
  background: var(--contrast);
}

#mlb2-623195 * {
  font-family: inherit;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInLight {
  0% {
    background: var(--default);
    color: var(--default);
  }
  100% {
    background: var(--light);
    color: black;
  }
}

@keyframes fadeInContrast {
  0% {
    background: var(--default);
    color: var(--default);
  }
  100% {
    background: var(--contrast);
  }
}


@keyframes fadeInDark {
  0% {
    background: var(--default);
  }
  100% {
    background: var(--dark);
  }
}

@keyframes fadeInBorder {
  0% {
    border: 1px solid var(--default);
  }
  100% {
    border: 1px solid var(--black);
  }
}

#canvas-container {
  --bleedEdge: calc(var(--spacing));
  width: calc(100% + 2 * var(--bleedEdge));
  position: relative;
  left: calc(-1 * var(--bleedEdge));
}
#canvas-container {
  min-height: 152px;
}

canvas {
  image-rendering: pixelated;
}



@media only screen and (max-width: 500px) {
	/* Mobile related CSS goes here (400px and under) */
  :root {
    --s0: 1.03em;
    --spacing: var(--s0);
    --stackSpacing: var(--s-1);
  }
  .center {
    display: block;
  }
 
}

@media only screen and (max-width: 986px) {
  .horizontal-stack.mobile-vertical {
    flex-wrap: wrap;
    justify-content: center;
  }
  .horizontal-stack.mobile-vertical > * + *{
    margin-left: 0;
    margin-top: var(--spacing);
  }
  
}