---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="soft networks" className="darkFill">
  <main class="fullBleed center" id="main-container">
    <div class="horizontal-stack padded:s1 mobile-vertical">
      <div class="stack">
        <div class="lightFill padded narrow stack border ">
          <div id="canvas-container" class="noOverflowX fullWidth">
            <script is:inline src="/js/lib/utils.js"></script>
            <script is:inline src="/js/classes.js"></script>
            <script is:inline src="/js/home.js"></script>
          </div>
          <p>404: not found</p>
        </div>
          <script>
            function ml_webform_success_623195() {
              var $ = ml_jQuery || jQuery;
              $('.ml-subscribe-form-623195 .row-success').show();
              $('.ml-subscribe-form-623195 .row-form').hide();
            }
          </script>
          <script src="https://groot.mailerlite.com/js/w/webforms.min.js?v982545f425161d5f5c95b96ab6c34e1b"
            type="text/javascript"></script>
        </div>
      </div>
    </div>
  </main>
</Layout>