---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="soft networks">
  <main class="fullBleed center" id="main-container">
    <div class="lightFill padded narrow stack border ">
      <div id="canvas-container" class="noOverflowX fullWidth">
        <script is:inline src="/js/lib/utils.js"></script>
        <script is:inline src="/js/classes.js"></script>
        <script is:inline src="/js/home.js"></script>
      </div>
    </div>
  </main>
</Layout>