---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="soft networks" className="darkFill">
  <main class="fullBleed center" id="main-container">
    <div class="horizontal-stack padded:s1 mobile-vertical">
      <div class="stack">
        <div class="lightFill padded narrow stack border ">
          <div id="canvas-container" class="noOverflowX fullWidth">
            <script is:inline src="/js/lib/utils.js"></script>
            <script is:inline src="/js/classes.js"></script>
            <script is:inline src="/js/home.js"></script>
          </div>
          <p><span class="terminal contrastFill">soft networks</span> is an exploratory design and development studio.
          </p>
          <p>We create slow, intimate, tools as a means of imagining alternate futures for social software.</p>
          <p>The studio and this website, like a garden, are still growing. Thanks for stopping by we hope to see you
            soon.</p>
        </div>
        <div class="lightFill padded narrow border">
          <a href="mailto:hello@softnet.works" target="_blank"> hello@softnet.works</a> <br />
          <span class="horizontal-stack">
            <span><a href="http://www.instagram.com/soft_networks" target="_blank">instagram</a></span>
            <span><a href="http://www.twitter.com/soft_networks" target="_blank">twitter</a></span>
            <span><a href="https://github.com/soft-networks" target="_blank">github</a></span>
          </span>
        </div>
        <div class="narrow lightFill">
          <div id="email-prompt" class="padded button border" onclick="toggleSubscriptionForm()">
            subscribe to our newsletter
          </div>
          <div id="mlb2-623195" class="ml-form-embedContainer ml-subscribe-form ml-subscribe-form-623195 hide ">
            <div class="ml-form-align-center ">
              <div class="ml-form-embedWrapper embedForm">
                <div class="ml-form-embedBody ml-form-embedBodyDefault row-form">
                  <div class="ml-form-embedContent" style="margin-bottom: 0px; ">
                  </div>
                  <form class="ml-block-form"
                    action="https://assets.mailerlite.com/jsonp/68614/forms/57211769778603342/subscribe" data-code=""
                    method="post" target="_blank">
                    <div class="ml-form-formContent">
                      <div class="ml-form-fieldRow ml-last-item">
                        <div class="ml-field-group ml-field-email ml-validate-email ml-validate-required">
                          <input aria-label="email" aria-required="true" type="email" class="form-control"
                            data-inputmask="" name="fields[email]" placeholder="enter your email"
                            autocomplete="email" id="email-input">
                        </div>
                      </div>
                    </div>
                    <input type="hidden" name="ml-submit" value="1">
                    <div class="ml-form-embedSubmit">
                      <button type="submit" class="primary">Subscribe</button>
                      <button disabled="disabled" style="display: none;" type="button" class="loading">
                        <div class="ml-form-embedSubmitLoad"></div>
                        <span class="sr-only">loading...</span>
                      </button>
                    </div>
                    <input type="hidden" name="anticsrf" value="true">
                  </form>
                </div>
                <div class="ml-form-successBody row-success" style="display: none">
                  <div class="ml-form-successContent">
                    ⚘ subscribed, thanks!
                  </div>
                </div>
              </div>
            </div>
          </div>
          <script>
            function ml_webform_success_623195() {
              var $ = ml_jQuery || jQuery;
              $('.ml-subscribe-form-623195 .row-success').show();
              $('.ml-subscribe-form-623195 .row-form').hide();
            }
          </script>
          <script src="https://groot.mailerlite.com/js/w/webforms.min.js?v982545f425161d5f5c95b96ab6c34e1b"
            type="text/javascript"></script>
        </div>
      </div>
    </div>
  </main>
</Layout>